.md-typeset, .md-nav__item {
    color: #304455;
	font-size: 12px !important;
}

body {
	-webkit-font-smoothing: auto !important;
}

:root > * {
    --md-code-fg-color:                #A9B7C6;
    --md-code-bg-color:                #202020;
    --md-code-hl-color:                #214283;
    --md-code-hl-number-color:         #82AAFF;
    --md-code-hl-special-color:        #A9B7C6;
    --md-code-hl-function-color:       #FFE64C;
    --md-code-hl-constant-color:       hsla(250, 70%, 64%, 1);
    --md-code-hl-keyword-color:        #CC7832;
    --md-code-hl-string-color:         #6A8759;
    --md-code-hl-name-color:           var(--md-code-fg-color);
    --md-code-hl-operator-color:       #A9B7C6;
    --md-code-hl-punctuation-color:    #A9B7C6;
    --md-code-hl-comment-color:        #787878;
    --md-code-hl-generic-color:        #A9B7C6;
    --md-code-hl-variable-color:       #A9B7C6;
}

.md-typeset code {
    border-radius: 4px !important;
    border: none !important;
}

p code {
    background-color: #FFFFFFFF !important;
    color: #d63200 !important;
}

p a {
    color: #d63200 !important;
    text-decoration: underline;
}

article > code {
    background-color: #FFFFFFFF !important;
    color: #d63200 !important;
}

:root {
    color: #304455;
}

.md-typeset .tabbed-set>input:checked+label {
    margin-bottom: 4px;
}
