<!--
  ~ Copyright (C) 2018, Umbrella CompanyLimited All rights reserved.
  ~ Project：StateLayout
  ~ Author：drake
  ~ Date：7/14/20 2:23 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drake.statelayout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
